/* globals.css */

@import "tailwindcss";

/* RESET */
*,
*::before,
*::after{
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

html[data-scroll-behavior="smooth"]{
  scroll-behavior:smooth;
}

body{
  overflow-x:hidden;
  background:#F8F7F4;
  color:#111111;
  margin:0;
  padding:0;
}

/* LINKS */
a{
  text-decoration:none;
  color:unset;
}

/* BUTTONS */
button{
  cursor:pointer;
  border:none;
}

/* IMAGES */
img{
  display:block;
  max-width:100%;
}

/* CONTAINER */
.container{
  width:100%;
  max-width:1400px;

  margin-inline:auto;

  padding-inline:16px;
}

@media (min-width:640px){
  .container{
    padding-inline:24px;
  }
}

@media (min-width:1024px){
  .container{
    padding-inline:32px;
  }
}